{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "^[libs]",
    "^@autonolas/(.*)$",
    "^[libs]",
    "^(store|util|common-util|components|data)/(.*)$",
    "^[./]"
  ]
}
