# more info here - https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

apps/ @mohandast52 @oaksprout @Tanya-atatakai @truemiller
libs/ @mohandast52 @oaksprout @Tanya-atatakai @truemiller
